.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/* Header */

.App-header {
  width: 70%;
  margin: 5em 0 4em;
  padding: 2em;
  color: black;
  border-bottom: 5px solid #fd9f15;
  text-align: center;
}

.App-title {
  font-weight: 100;
  font-size: 47px;
}

/* Book shelf */

.Book-shelf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70%;
}

.Read-state-row {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 4em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}


.Read-state-row:last-of-type {
  border: none;
}

.Read-state-row-title {
  font-size: 16pt;
  font-weight: 400;
  color: black;
  width: 160px;
}

.Search-book {
  width: 40px;
  height: 40px;
  align-self: flex-end;
  position: fixed;
  background-color: #fd9f15;
  border: 0;
  color: black;
  font-size: 18pt;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  color: black;
}

/* Book */

.Books-list {
  margin: 0 1em 3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
}

.Book {
  margin: 0 1em 1em;
  font-size: 12pt;
}

.Book-options {
  position: absolute;
  width: 40px;
  height: 40px;
  margin-left: 100px;
  margin-top: -30px;
  border-radius: 50%;
  background: #fd9f15;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.Book-options select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.Book-title {
  padding-top: 1em;
  max-width: 140px;
}

.Book-author {
  color: #999;
  max-width: 140px;
}

/* Search */

.Search-books {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Search-bar a {
  width: 10%;
  text-decoration: none;
  color: black;
  font-size: 18pt;
}

.Search-bar input {
  width: 85%;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 14pt;
}

.Show-search ul {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


/* Footer */

.App-footer {
  width: 50%;
  margin: 4em auto 3em auto;
  padding: 2em;
  border-top: 1px solid #ddd;
  text-align: center;
  font-size: 14pt;
}

/* Responsive */

@media screen and (min-width: 2200px) {
  .App {
    width: 2200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 920px) {
  .Read-state-row {
    flex-direction: column;
    justify-content: center;
  }
  .Read-state-row-title {
    margin-bottom: 2em;
    text-align: center;
    width: 100%;
  }
  .Books-list {
    width: 100%;
    justify-content: center;
  }
}